body
{
	background-color: #0d1117;
	color:white;
	font-family: Arial, Helvetica, sans-serif;
}
.wrapper
{
	display: flex;
}
.menu
{
	flex: 13%;
	background-color: #0d1117;
	border-top: 1px solid;
	border-color: #151920;
	border-right: 1px solid #151920;
}
input[type=button], input[type=number]
{
	appearance:none;

	width: fit-content;
	padding: 0 15px;
	-webkit-appearance:none;
	text-align: center;
	background-color:#0d1117;
	color: #c9ccd1;
	border: 1px;
	border-style: solid;
	border-color: #30363d;
    border-radius:10px;
	cursor:pointer;
}
input[type=number]
{
	text-align: left;
	width: fit-content;
	padding:10px 15px;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=button]:hover
{
	background-color:#21262d;
	color: #c9ccd1;
	border: 1px solid #6f7275;
}
input[type=number]:active, input[type=number]:focus
{
	border-color: #1f6feb;
    outline: none;
    box-shadow: 0px 0px 5px 5px #0c2d6b;
}
.content
{
	flex: 85%;
	background-color: #010409;
	border-top: 1px solid;
	border-color: #151920;
}
.content input[type=button]
{
  /* Psuje Przyciski, Trzeba Rodzelic na pod klase  */
	----max-width: 8%;
	height: 35px;
}
.content input[type=text], input[type=password]
{
	display: inline-block;
    padding: 10px 15px;
    outline: 0;
    border: 1px;
	border-style: solid;
	border-color: #30363d;
	margin: 10px 0px 15px 0px;
	border-radius:13px;
    -webkit-appearance: none;
    -moz-appearance: none;
	background-color:#0d1117;
	color: white;
}
.content input[type=text]:focus
{
	border-color: #1f6feb;
    outline: none;
    box-shadow: 0px 0px 5px 5px #0c2d6b;
}

input[type=date], #form_data
{
	padding:10px;
	border:none;
	background-color:#0d1117;
	color: white;
	border: 1px;
	border-style: solid;
	border-color: #30363d;
	padding:10px;
    border-radius:10px;
	cursor: pointer;
}
#form_data_uro:active, #form_data:active, #form_data:hover, #form_data_uro:hover, input[type=password]:focus
{
	border-color: #1f6feb;
    outline: none;
    box-shadow: 0px 0px 5px 5px #0c2d6b;
}

::-webkit-calendar-picker-indicator 
{
	background-color: white; 
	border-radius: 5px;
}
#search-results input[type=button]
{
	min-width: 100%;
}
#serch-wrap  input[type=button]
{
	width: fit-content;
}
#serch-wrap
{
	border-bottom: 1px solid #30363d;
}
.row:nth-child(1)
{
	border-top: 1px solid #30363d;
	border-bottom: 1px solid #30363d;
}
.row:not( .row:nth-child(1) )
{
	border-bottom: 1px solid #30363d;
	background-color: #0d1117;
	
}
.first-column
{
	display: table-cell;
	width: 30vh;
	top: 0%;

	
}
.first-column div
{
	padding: 0 0 8px 0;
}
.second-column
{
	display: table-cell;
	width: 30vh;
	top: 0%;
}
.second-column div
{
	padding: 0 0 8px 0;
	margin-left: 10px;
}
.button-column
{	
	display: flex;
	top: 0%;
	gap: 12px;
	height: 100px;
}
.button-column input[type=button]
{
	width: fit-content;
	padding: 0 5px;
}

/* usun konto */
.button-column input[value$='Usuń Konto'], input[value$='Usuń']
{
	background-color: #21262d;
	width: fit-content;
	padding: 0 5px;
	color: #f85149;
}
.button-column input[value$='Usuń Konto']:hover, input[value$='Usuń']:hover
{
	background-color: #f85149;
	width: fit-content;
	padding: 0 5px;
	color: white;
	border: 1px solid #fc3e35;
}
/* resetuj haslo */
.button-column input[value$='Resetuj Hasło']
{
	background-color: #21262d;
	width: fit-content;
	padding: 0 5px;
	color: #c9ccd1;
}
.button-column input[value$='Resetuj Hasło']:hover
{
	background-color: #21262d;
	width: fit-content;
	padding: 0 5px;
	border: 1px solid #797c80;
}

.button-column > input[type=button]:nth-child(1)
{
	background-color: #238636;
	color: white;
}

.button-column > input[type=button]:nth-child(1):hover
{
	background-color: #2cab45;
	color: white;
}


#passwd-eye .hide
{
	margin-left: -30px;
    cursor: pointer;
}
.hide
{
	font-size: 20px;
	color: #fff;
}

/* tytuly strony */
.db-form-title
{
	text-align: center;
	padding: 5px;
	font-size: 20px;
	border-bottom: 1px solid #30363d;
	margin-bottom: 30px;
}
/* selecty */
select
{
	display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 1px;
	border-style: solid;
	border-color: #30363d;
	margin: 10px 0px 15px 0px;
	border-radius:13px;
    -webkit-appearance: none;
    -moz-appearance: none;
	background-color:#0d1117;
	color: white;
}
select:hover
{
	border-color: #1f6feb;
    outline: none;
    box-shadow: 0px 0px 5px 5px #0c2d6b;
}

.first-column, .second-column
{
	margin-top: auto;

}

input[type=text][disabled]
{
	background-color: #151a21;
	color: #404040;
}
.footer
{
	padding-top: 15px;
}