body
{
	background-color: #0d1117;
	color:white;
}
.wrapper
{
	display: flex;
}
.menu
{
	flex: 10%;
	background-color: #0d1117;
	border-top: 1px solid;
	border-color: #151920;
	border-right: 1px solid #151920;
}
input[type=button]
{
	appearance:none;
	-webkit-appearance:none;
	text-align: center;
	border:none;
	background-color:#0d1117;
	color: white;
	border: 1px;
	border-style: solid;
	border-color: #30363d;
	
    border-radius:10px;
	cursor:pointer;
}


input[type=button]:hover
{
	background-color:#161b22;
	color: white;
}
.content
{
	flex: 85%;
	background-color: #010409;
	border-top: 1px solid;
	border-color: #151920;
}
.content input[type=button]
{
  /* Psuje Przyciski, Trzeba Rodzelic na pod klase  */
	----max-width: 8%;
	height: 35px;
}
.content input[type=text], input[type=password]
{
	display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 1px;
	border-style: solid;
	border-color: #30363d;
	margin: 10px 0px 15px 0px;
	border-radius:13px;
    -webkit-appearance: none;
    -moz-appearance: none;
	background-color:#0d1117;
	color: white;
}
.content input[type=text]:focus
{
	border-color: #1f6feb;
    outline: none;
    box-shadow: 0px 0px 5px 5px #0c2d6b;
}

#form_data_uro
{
	padding:10px;
	border:none;
	background-color:#0d1117;
	color: white;
	border: 1px;
	border-style: solid;
	border-color: #30363d;
	padding:10px;
    border-radius:10px;
}
#form_data_uro:active, #form_data_uro:hover, input[type=password]:focus
{
	border-color: #1f6feb;
    outline: none;
    box-shadow: 0px 0px 5px 5px #0c2d6b;
}

::-webkit-calendar-picker-indicator 
{
	background-color: white; 
	border-radius: 5px;
}
#search-results input[type=button]
{
	min-width: 100%;
}
#serch-wrap  input[type=button]
{
	max-width: 20%;
}
#serch-wrap
{
	border-bottom: 1px solid #30363d;
}
.row:nth-child(1)
{
	border-top: 1px solid #30363d;
	border-bottom: 1px solid #30363d;
}
.row:not( .row:nth-child(1) )
{
	border-bottom: 1px solid #30363d;
	background-color: #0d1117;
	
}
.first-column
{
	display: table-cell;
	width: 30vh;
	top: 0%;

	
}
.first-column div
{
	padding: 0 0 8px 0;
}
.second-column
{
	display: table-cell;
	width: 30vh;
	top: 0%;
}
.second-column div
{
	padding: 0 0 8px 0;
}
.button-column
{	
	display: inline-block;
	top: 0%;
	justify-content: space-between;
	height: 100px;
}
.button-column input[type=button]
{
	width: 70px;
}

.button-column input[type=button]:nth-child(1)
{
	background-color: #238636;
	color: white;
}

.button-column input[type=button]:nth-child(1):hover
{
	background-color: #2cab45;
	color: white;
}

.button-column input[type=button]:nth-child(2)
{
	width: 90px;
	background-color: #a81818;
}

.button-column input[type=button]:nth-child(2):hover
{
	background-color: #e02828;
	color: white;
	border-color: #4a515c;
}

.show, .hide
{
	float: left;
	position: absolute;
	right: 4.5vh;
	top: 6.3vh;
	font-size: 20px;
	color: #fff;
}
.hide
{
	display: none;
}