body
{
  padding: 0px;
  margin: 0px;
  -overflow: hidden;
}
.wrapper 
{
  display: flex;
  justify-content: left;
  
}

.wrapper > .menu 
{
  width: 250px;
  height: 100vh;
  border-right: 2px solid black;
  padding: 25px;
  box-sizing: border-box;
}

.wrapper > .content 
{
  width: calc(100vw - 250px);
  overflow: show;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  overflow: auto;
  
}
.wrapper > .content::-webkit-scrollbar { width: 20px; }
.wrapper > .content::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}
.wrapper > .content::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #43484f;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

.wrapper > .menu > input
{
    width: 90%;
    height: 30px;
    margin-top: 15px;
    margin-left: 5%;
}

.superTable
{
    margin-top: 50px;
}
.superTable > .row
{
    --width: 70vw;
    display: flex;
	flex-wrap: wrap;
    align-items: center;
    -justify-content: space-between;
}

.superTable > .row > div
{
    padding: 5px;
    box-sizing: border-box;
}
