body
{
  padding: 0px;
  margin: 0px;
  -overflow: hidden;
}

.wrapper 
{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: left;
}

.wrapper > .menu 
{
  width: 250px;
  height: 100vh;
  border-right: 2px solid black;
  padding: 15px;
  box-sizing: border-box;
}

.wrapper > .content 
{
  width: calc(100vw - 250px);
  overflow: show;
  padding: 15px;
  box-sizing: border-box;
}

.superTable
{
    margin-top: 50px;
}
.superTable > .row
{
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px dotted black;
}

.superTable > .row > div
{
    padding: 15px;
    box-sizing: border-box;
}
