body
{
	background-color: #010409;
			font-family: Arial, Helvetica, sans-serif;
}

.search-box
{
	border: 1px solid #30363d;
	background: #15191f;
	border-radius: 15px;
}
.put-data
{
	margin: 0 auto;
	appearance:none;
	-webkit-appearance:none;
	padding:10px;
	border:none;
	background-color:#161b22;
	color: white;
	border: 0px;
	border-bottom: 1px;
	border-style: solid;
	border-color: #30363d;
}
.put-data:focus
{
	background-color: #1a2029;
	border: 0px;
	border-bottom: 1px solid;
	border-bottom-color: #0c2d6b;
  outline: none;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 5px #0c2d6b;
}
#search-button
{
	appearance: none;
  width: fit-content;
	height: 40px;
  padding: 0 15px;
  -webkit-appearance: none;
  text-align: center;
  background-color: transparent;
  color: white;
	border: 0px;
  border-radius: 100px;
  cursor: pointer;
	
}
#search-button:hover
{
	background-color:#21262d;
	color: #c9ccd1;
	border: 1px solid #6f7275;
}
#search-button:active
{
	border-color: #1f6feb;
    outline: none;
    box-shadow: 0px 0px 5px 5px #0c2d6b;
}

.wrapper
{
	border: 1px solid #30363d;
	background: #15191f;
	border-radius: 15px;
	color: #bfbdae;
}
#search-button
{
	color: white;
	font-size: 25px;
	background-color: transparent;
	cursor: pointer;
	border: 0;
}