
body
{
	background-color: #0d1117;
}
label
{
	position: relative;
	display: block;

}
.log_panel, .reg_panel, .error_msg, .bjuti_panel
{
	background-color: #161b22;
	padding: 20px;
	margin-top: 16px !important;
	margin: auto;
    text-align: left;
	max-width: 250px;
	color: white;
	border-radius: 8px;
	border: 1px;
	border-style: solid;
	border-color: #30363d;
}

.bjuti_panel
{
	background-color: #0d1117;	
	border: 0px;
}
.logo
{
	width: 150px;
	height: 150px;
	margin: auto;
	border-radius: 50%;
}
.logo:hover
{
	opacity: 0.9;
}

.error_msg
{
	display: none;
	max-width: fit-content;
	background-color: #382328;
	border-color: #8f2626;
}
.e_msg
{
	flex: 90%;
}
.e_butt
{
	flex: 10%;
	flex-wrap: wrap;
	float: right;
}
.e_butt > #exitButton{ cursor: pointer;}

.reg_panel
{
	background-color: #0d1117;
	border: 1px;
	border-style: solid;
	border-color: #30363d;

}
.reg_p_a:link
{
	color: #58a6ff;
	text-decoration: none;
}
.reg_p_a:visited
{
	color: #58a6ff;
	text-decoration: none;
}
.reg_p_a:hover
{
	color: #58a6ff;
	text-decoration: underline;
}

input[type=text], input[type=password], input[type=button]
{
	appearance:none;
	width:100%;
	-webkit-appearance:none;
	padding:10px;
	margin:10px 0;
	background-color:#0d1117;
	color: white;
	border: 1px;
	border-style: solid;
	border-color: #30363d;
}
.rounded-input {
  padding:10px;
  border-radius:10px;
}

#loginArea:focus, #passwdArea:focus
{
	border-color: #1f6feb;
    outline: none;
    box-shadow: 0px 0px 5px 5px #0c2d6b;
}
#loginButton
{
	
	background-color: #238636;

}
#loginButton:hover
{
	background-color: #2ea043;
}
#loginButton:active
{
	background-color: #2ea043;
	border: 1px solid;
	border-color: #0d7020;
    outline: none;
}
#exitButton
{
	border: none;
	background-color: #382328;
	color: red;
	position: relative;
	max-width: 25px;
}
#exitButton:hover
{
	color: #b63333;
}

.hide
{
	position: absolute;
	right: 15px;
	top: 38px;
	font-size: 15px;
	color: #fff;
}