* 
{
  box-sizing: border-box;
}

body 
{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header 
{
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

.header h1 
{
  font-size: 40px;
}

.navbar 
{
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.navbar a 
{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


.navbar a.right 
{
  float: right;
}

.navbar a:hover 
{
  background-color: #ddd;
  color: black;
}

.navbar a.active 
{
  background-color: #666;
  color: white;
}

.row 
{  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

.side 
{
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

.main 
{   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.footer 
{
  padding: 20px;
  text-align: center;
  background: #1abc9c;
}

/* Responsive layout - jak szerokosc mniejsza niz 700px , ustawia dwie kolumny nad soba zamiast obok siebie*/
@media screen and (max-width: 700px) 
{
  .row 
  {   
    flex-direction: column;
  }
}

/* Responsive layout - szerokosc mniejsza niz 400 px linki beda jeden na drugim*/
@media screen and (max-width: 400px) 
{
  .navbar a 
  {
    float: none;
    width: 100%;
  }
}