* 
{
  box-sizing: border-box;
}

body 
{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header 
{
  height: 200px;	
  padding: 80px;
  text-align: center;
  background: rgb(88,96,108);
	background: linear-gradient(180deg, rgba(88,96,108,1) 0%, rgba(82,92,107,1) 23%, rgba(0,0,0,1) 100%);
  color: white;
}

.header h1 
{
  font-size: 40px;
}

.navbar 
{
  overflow: hidden;
  background-color: #161b22;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.navbar a 
{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


.navbar a.right 
{
  float: right;
}

.navbar a:hover 
{
  background-color: #161b22;
	color: #7b8187;
}

.navbar a.active 
{
  background-color: #161b22;
	color: #7b8187;
}

.row 
{  
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.side 
{
  flex: 30%;
  background-color: #0d1117;
  padding: 20px;
	border-right: 1px solid #31343b;
}
.side >h3
{
	color: #c9cece;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1px;
	padding-bottom: 5px;
	border-bottom: 1px solid #31343b;
}
.container-side  h2
{
	color: #8b949e;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	padding-bottom: 5px;
}

.side >p
{
	color: #6d757e;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 14px;
}

.main 
{   
  flex: 70%;
  background-color: #010409;
  padding: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
}
.main > h2
{   
	width: 25%;
  color: #bfbdae;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1px;
	padding-bottom: 5px;
	border-bottom: 1px solid #31343b;
}
.main > .container-row
{
	background-color: #14181f;
	border: 1px solid #31343b;
	border-radius: 15px;
	padding: 0 15px;
	width: 100%;
}
#fakeimg {
  width: 100%;
  padding: 20px;
	border-radius: 15px;
} 
#fakeimg > .img1
{
	width: 45%;
	border-radius: 15px;
	content:url('../data/img/news/doktor.jpg');
}

#fakeimg > .img2
{
	width: 45%;
	border-radius: 15px;
	content:url('../data/img/news/delta.png');
}





/* Responsive layout - jak szerokosc mniejsza niz 700px , ustawia dwie kolumny nad soba zamiast obok siebie*/
@media screen and (max-width: 700px) 
{
  .row 
  {   
    flex-direction: column;
  }
}

/* Responsive layout - szerokosc mniejsza niz 400 px linki beda jeden na drugim*/
@media screen and (max-width: 400px) 
{
  .navbar a 
  {
    float: none;
    width: 100%;
  }
}